.sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sidenav-container-background-color);
  border-right: 1px solid var(--mat-divider-color);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;

  &.expanded {
    width: 240px;
  }

  &.collapsed {
    width: 64px;
  }
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.module-list {
  padding: 8px 0;

  ::ng-deep .mat-mdc-list-item {
    height: auto !important;
    padding: 0 !important;
  }
}

.sidebar-footer {
  padding: 12px;
  border-top: 1px solid var(--mat-divider-color);
  display: flex;
  justify-content: center;
}

.collapse-button {
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .sidebar {
    &.expanded {
      width: 280px;
    }
  }
}
